.gradle
.settings
.classpath
.project
target
.idea
*.iml
*.log
generatorConfig.xml
doc
build/*
*.springBeans
*.log.zip
*.factorypath
*.prefs
/logs
/logPath_IS_UNDEFINED
/giveu-shop-fn-service/jarbackup



